<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
		<rule name="Redirect cimexinvest.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?cimexinvest.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.cimex.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect edulios.com" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?edulios.com$" />
                    </conditions>
                    <action type="Redirect" url="http://www.edulios.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect oreahotels.com" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?oreahotels.com$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect tenpravydarek.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?tenpravydarek.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://shop.orea.cz/cz/darkove-poukazy/?iframed=1" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect ten-pravy-darek.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?ten-pravy-darek.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://shop.orea.cz/cz/darkove-poukazy/?iframed=1" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect vema.cimexgroup.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^vema.cimexgroup.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://41409.cloud.vema.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect vema.cimex.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^vema.cimex.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://41409.cloud.vema.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect vema.orea.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^vema.orea.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://41409.cloud.vema.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect vema.arridere.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^vema.arridere.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://41409.cloud.vema.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect i.cimex.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^i.cimex.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://cimex.sharepoint.com/sites/intranet" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect hotel-anglicky-dvur.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?hotel-anglicky-dvur.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz/cz/orea-hotel-anglicky-dvur" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect cimexreality.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?cimexreality.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.cimex.cz/cs/komercni-projekty/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect oreahotels.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?oreahotels.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect devetskal.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?devetskal.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.resortdevetskal.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect hotel-palace-zvon.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?hotel-palace-zvon.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz/cz/orea-hotel-palace-zvon" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect oreahotelspicak.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?oreahotelspicak.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz/cz/orea-hotel-spicak" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect voronez.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?voronez.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.oreahotelvoronez.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect voronez2.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?voronez2.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.hotelvoronez2.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect sklar.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?sklar.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.resortsklar.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect oreahotelhorizont.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?oreahotelhorizont.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orea.cz/cz/orea-wellness-hotel-horizont" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect santon.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?santon.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.resortsanton.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect horal.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?horal.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.orearesorthoral.cz/" appendQueryString="true" redirectType="Temporary" />
                </rule>
		<rule name="Redirect wellnesscentrumsanton.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^(.*\.)?wellnesscentrumsanton.cz$" />
                    </conditions>
                    <action type="Redirect" url="http://www.resortsanton.cz/cz/wellness--relaxace/" appendQueryString="true" redirectType="Temporary" />
                </rule>
        <rule name="Redirect helpdesk.cimex.cz" stopProcessing="true">
  		    <match url=".*" />
  		    <conditions>
    		        <add input="{HTTP_HOST}" pattern="^helpdesk.cimex(group)?.cz$" />
                    </conditions>
                    <action type="Redirect" url="https://servicedesk.cimex.cz/support/solutions/articles/50000002617-rozcestn-k-it" appendQueryString="true" redirectType="Temporary" />
                </rule>
            </rules>
			
	</rewrite>
    </system.webServer>
</configuration>